<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCLearn:war exploded">
    <output-path>$PROJECT_DIR$/../apache-tomcat-8.5.45/webapps/SpringMVCLearn_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCLearn/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCLearn" />
        </element>
      </element>
    </root>
  </artifact>
</component>