<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    id表示获取到对象的标识，class标识需要实例化的类-->
    <bean id="peo" class="com.IceCoLa.domain.People">
<!--        配置构造方法参数,几个参数不必都出现-->
        <constructor-arg index="0" name="id" type="int" value="000"/>
        <constructor-arg index="1" name="name" type="java.lang.String" value="default"/>
<!--        bean设置注入本质上使用的是实例对象的set方法-->
        <property name="id" value="123"/>
        <property name="name" value="威廉"/>
        <property name="sets">
            <value>1</value>
            <value>1</value>
            <value>1</value>
        </property>
    </bean>

<!--    实例工厂配置-->
<!--    <bean id="factory" class="com.IceCoLa.domain.PeopleFactory"/>-->
<!--    <bean id="peo1" factory-bean="factory" factory-method="newInstance"/>-->

<!--    静态工厂配置-->
<!--    <bean id="peo2" class="com.IceCoLa.domain.PeopleFactory" factory-method="newInstance"/>-->


</beans>

